<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
   <main>
    <div class="product-form-container">
      <% if (feedback) { %>
        <p class="alert-message"><%= feedback %></p>
       <% } %>
      <h2>User Login</h2>
      <form id="productForm" action="/login" method="POST">

        <label for="email">Email:</label>
        <input type="text" name="email" value="" id="email" required>
        
        <label for="password">Password:</label>
        <input type="text" name="password" id="password" value="" required>
          
        <input type="hidden" name="_csrf" value=<%= csrfToken %> >
        <button type="submit">Login</button>
        <a href="/forgot-password">forgot your password?</a>
      </form>
  </div>

   </main>
  <!-- <script src="/js/form.js"></script> -->
  <%- include('../includes/end.ejs') %>