<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
   <main>
    <div class="product-form-container">
      <% if (feedback) { %>
       <p class="alert-message"><%= feedback %></p>
      <% } %>
      <h2>Reset User Password</h2>
      <form id="productForm" action="/reset-password" method="POST">
        <div class="form-flex-row">
          <p>
            <label for="new-password">New Password:</label>
            <input type="text" name="newPassword" id="new-password"  required>
          </p>
          <p>
            <label for="confirm-new-password">Confirm New Password:</label>
            <input type="text" name="confirmNewPassword" id="confirm-new-password" required>
          </p>
        </div>
        <input type="hidden" name="_csrf" value=<%= csrfToken %> >
        <button type="submit">Reset password</button>
      </form>
  </div>

   </main>
  <!-- <script src="/js/form.js"></script> -->
  <%- include('../includes/end.ejs') %></body>