<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <div class="center">
        <h1><%= messageTitle %></h1>
        <p><%= messageContent %></p>
      </div>
    </main>
<%- include('../includes/end.ejs') %>