<div class="htmlmenu-wrapper">
  <div class="htmlmenu-header">
    <div class="htmlmenu-container">
      <div class="htmlmenu-logo"></div>
      <input type="checkbox" id="htmlmenu-toggle" class="htmlmenu-toggle" />
      <label for="htmlmenu-toggle"
        ><span></span><span></span><span></span
      ></label>
      <nav
        class="navigation-space-between htmlmenu-menu htmlmenu-menu-style-3 htmlmenu-submenu-scale"
        role="navigation"
      >
        <ul>
          <li class="<%= path === '/' ? 'htmlmenu-menu-current' : '' %>">
            <a href="/">Shop</a>
          </li>
          <li
            class="<%= path === '/products' ? 'htmlmenu-menu-current' : '' %>"
          >
            <a href="/products">Products</a>
          </li>
          <% if (isAuthenticated) { %>
          <li class="<%= path === '/cart' ? 'htmlmenu-menu-current' : '' %>">
            <a href="/cart">Cart</a>
          </li>
          <li class="<%= path === '/orders' ? 'htmlmenu-menu-current' : '' %>">
            <a href="/orders">Orders</a>
          </li>
          <li
            class="<%= path === '/admin/add-product' ? 'htmlmenu-menu-current' : '' %>"
          >
            <a href="/admin/add-product">Add Product</a>
          </li>
          <li
            class="<%= path === '/admin/products' ? 'htmlmenu-menu-current' : '' %>"
          >
            <a href="/admin/products">Admin Products</a>
          </li>
          <% } %>
        </ul>
        <ul>
          <% if (isAuthenticated) { %>
          <li class="<%= path === '/logout' ? 'htmlmenu-menu-current' : '' %>">
            <form action="/logout" method="POST">
              <button class="btn-form" type="submit">Logout</button>
            </form>
          </li>
          <% } else { %>
          <li class="<%= path === '/signup' ? 'htmlmenu-menu-current' : '' %>">
            <a href="/signup">Sign Up</a>
          </li>
          <li class="<%= path === '/login' ? 'htmlmenu-menu-current' : '' %>">
            <a href="/login">Login</a>
          </li>
          <% } %>
        </ul>
      </nav>
    </div>
    <div class="htmlmenu-header-shadow"></div>
  </div>
  <div class="htmlmenu-header-spacer"></div>
</div>
