<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>
<!-- userOrders: [{orderId,totalPrice,createdAt,user}] -->


<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <h1>Checkout Summary:</h1>
      <% if (userOrders.length > 0) { %>
      <div class="cart-container" id="cartContainer">
        <% userOrders.forEach(order => { %>
          <div class="cart-item">
            <div>
              <h4><%= order.orderId %></h4>
            </div>
            <p>Created At: <%= order.createdAt %></p>
            <p>Created By: <%= order.user.dataValues.name %></p>
            <p>Total: $<%= order.totalPrice.toFixed(2) %></p>
            <a class="btn" href="/orders/<%= order.orderId %>">Summary</a>
          </div>
          <% }) %>
      </div>
      <div class="cart-summary">
              <div class="checkout-actions">
                <a class="btn" href="/" class="back-link">Back to Products</a>
          </div>
      </div>
      <% } else { %>
        <h1>No Orders created yet!</h1>
    <% } %>
    </main>
  <%- include('../includes/end.ejs') %>