<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>
<!-- order:{orderItems,createdAt,totalPrice} -->
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <h1>Order Summary:</h1>
      <% if (order.orderItems.length > 0) { %>
      <div class="cart-container" id="cartContainer">
        <% order.orderItems.forEach(item => { %>
          <div class="cart-item">
            <img src="<%= item.imageUrl %>" alt="<%= item.title %>">
            <div>
              <h4><%= item.title %></h4>
            </div>
                <p><b>Price:</b> $<%= item.price.toFixed(2) %></p>
                <p><b>Quantity:</b> <%= item.quantity %></p>
                <p>$<%= (item.price * item.quantity).toFixed(2) %></p>
          </div>
          <% }) %>
      </div>
      <div class="cart-summary">
          <p id="totalPrice">
            <b>Total Price:</b> $<%= order.totalPrice.toFixed(2) %>
          </p>
          <p>
            <b>Created At:</b> <%= order.createdAt %>
          </p>
            <div>
              <div class="checkout-actions">
                <a class="btn" href="/orders" class="back-link">Back to Orders</a>
              </div>
          </div>
      </div>
      <% } else { %>
        <h1>Order is not exist!</h1>
    <% } %>
    </main>
  <%- include('../includes/end.ejs') %>